<a href="https://colab.research.google.com/github/AsonCS/DataScienceTest/blob/main/Test_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [482]:
import pandas as pd
import numpy as np

url_dados = 'https://github.com/AsonCS/DataScienceTest/raw/main/quina_data.csv'

# dados['Mutiplos Ganhadores'] = withCountry.apply(lambda city : 1 if len(city.split(',')) > 1 else 0)
# dados['Mutiplos Ganhadores'] = dados['Mutiplos Ganhadores'].apply(lambda val : 0 if val == 'NaN' else val)
# dados['Mutiplos Ganhadores'][dados['Mutiplos Ganhadores'] == NaN]
dados = pd.read_csv(url_dados, sep=';')
dados['cidade'] = dados['cidade'].fillna('')

# dados['acumulado'].unique()
# # # Output: array(['NAO', 'SIM'], dtype=object)
dados['acumulado'] = dados['acumulado'].apply(lambda val : 1 if val == 'SIM' else 0)

dados

      concurso  ... valor_acumulado_sorteio_especial_sao_joao
0            1  ...                                      0,00
1            2  ...                                      0,00
2            3  ...                                      0,00
3            4  ...                                      0,00
4            5  ...                                      0,00
...        ...  ...                                       ...
5584      5585  ...                            136.215.779,65
5585      5586  ...                            136.812.573,62
5586      5587  ...                            137.464.455,32
5587      5588  ...                            138.103.186,03
5588      5589  ...                            152.500.062,82

[5589 rows x 21 columns]

In [483]:
# def mutipleCities (city):
#   if len(city) == 0:
#     return 0
#   else:
#     if len(str(city).split(',')) > 1:
#       return 1
#     else:
#       return 0

dados['mutiplos_ganhadores'] = dados['cidade'].apply(lambda city : 1 if len(city.split(',')) > 1 else 0)
dados[['ganhadores_quina', 'cidade', 'mutiplos_ganhadores']].iloc[2061:2069]

      ganhadores_quina  ... mutiplos_ganhadores
2061                 3  ...                   1
2062                 0  ...                   0
2063                 0  ...                   0
2064                 8  ...                   1
2065                 0  ...                   0
2066                 5  ...                   1
2067                 1  ...                   0
2068                 2  ...                   1

[8 rows x 3 columns]

In [484]:
dados['tem_ganhadores'] = dados['cidade'].apply(lambda city : 0 if len(city) == 0 else 1)
dados[['ganhadores_quina', 'cidade', 'mutiplos_ganhadores', 'tem_ganhadores']].iloc[2061:2069]

      ganhadores_quina  ... tem_ganhadores
2061                 3  ...              1
2062                 0  ...              0
2063                 0  ...              0
2064                 8  ...              1
2065                 0  ...              0
2066                 5  ...              1
2067                 1  ...              1
2068                 2  ...              1

[8 rows x 4 columns]

In [485]:
# column = 'dezena_1'
# df3 = df2
# dezena_1 = df2.sort_values(by=[column], ascending=False)[['number', column]][0:5]
# dezena_1.rename(columns = {column: column+'_count', 'number': column+'_number'}, inplace = True)
# dezena_1.reset_index(inplace=True, drop=True)
# df3 = pd.concat([df3, dezena_1], axis=1)
# df3.fillna(1)
# df3.apply(lambda val : np.int64(val))
# df3.head(10)

def getValueCounts(list, number):
  if number in list.index.values:
    return list[number]
  else:
    return 0


def applyColumn(position, list):
  temp = list
  data = temp.sort_values(by=['vezes_como_' + position + '_dezena'], ascending=False)[['dezena', 'vezes_como_' + position + '_dezena']]
  data.rename(columns = {column: 'vezes_da_dezena_na_' + position + '_posicao', 'dezena': 'dezena_na_' + position + '_posicao'}, inplace = True)
  data.reset_index(inplace=True, drop=True)
  return data


def applyDataCounts(list):
  data = pd.DataFrame(np.arange(1, 81), columns=['dezena'])
  data['soma_das_vezes'] = 0
  data['vezes_como_primeira_dezena'] = data['dezena'].apply(lambda val : getValueCounts(list['1_dezena'].value_counts(), val))
  data['vezes_como_segunda_dezena'] = data['dezena'].apply(lambda val : getValueCounts(list['2_dezena'].value_counts(), val))
  data['vezes_como_terceira_dezena'] = data['dezena'].apply(lambda val : getValueCounts(list['3_dezena'].value_counts(), val))
  data['vezes_como_quarta_dezena'] = data['dezena'].apply(lambda val : getValueCounts(list['4_dezena'].value_counts(), val))
  data['vezes_como_quinta_dezena'] = data['dezena'].apply(lambda val : getValueCounts(list['5_dezena'].value_counts(), val))
  data['soma_das_vezes'] = data['vezes_como_primeira_dezena'] + data['vezes_como_segunda_dezena'] + data['vezes_como_terceira_dezena'] + data['vezes_como_quarta_dezena'] + data['vezes_como_quinta_dezena']
  data = data.sort_values(by=['soma_das_vezes'], ascending=False)
  data = data.reset_index(inplace=False, drop=True)
  return data


def applyDataCountsByTimes(list):
  data = applyColumn('primeira', list)
  data = pd.concat([data, applyColumn('segunda', list)], axis=1)
  data = pd.concat([data, applyColumn('terceira', list)], axis=1)
  data = pd.concat([data, applyColumn('quarta', list)], axis=1)
  data = pd.concat([data, applyColumn('quinta', list)], axis=1)
  return data


dataNumbersCounts = applyData(dados)

dataNumbersCountsByTimes = applyDataCountsByTimes(dataNumbersCounts)

In [ ]:
dados[:21]

In [ ]:
dados[len(dados) - 20:]

In [ ]:
dataNumbersCounts[:21]

In [ ]:
dataNumbersCounts[len(dataNumbersCounts) - 20:]

In [ ]:
dataNumbersCountsByTimes[:21]

In [490]:
dataNumbersCountsByTimes[len(dataNumbersCountsByTimes) - 20:]

    dezena_na_primeira_posicao  ...  vezes_como_quinta_dezena
60                          65  ...                         1
61                          73  ...                         0
62                          70  ...                         0
63                          68  ...                         0
64                          72  ...                         0
65                          61  ...                         0
66                          78  ...                         0
67                          67  ...                         0
68                          75  ...                         0
69                          62  ...                         0
70                          77  ...                         0
71                          64  ...                         0
72                          80  ...                         0
73                          69  ...                         0
74                          71  ...                         0
75                          63  ...                         0
76                          74  ...                         0
77                          55  ...                         0
78                          76  ...                         0
79                          79  ...                         0

[20 rows x 10 columns]

In [492]:
dataNumbersCounts.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>dezena</th>\n      <th>soma_das_vezes</th>\n      <th>vezes_como_primeira_dezena</th>\n      <th>vezes_como_segunda_dezena</th>\n      <th>vezes_como_terceira_dezena</th>\n      <th>vezes_como_quarta_dezena</th>\n      <th>vezes_como_quinta_dezena</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>4</td>\n      <td>397</td>\n      <td>336</td>\n      <td>56</td>\n      <td>5</td>\n      <td>0</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>49</td>\n      <td>386</td>\n      <td>5</td>\n      <td>50</td>\n      <td>141</td>\n      <td>145</td>\n      <td>45</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>53</td>\n      <td>383</td>\n      <td>7</td>\n      <td>40</td>\n      <td>108</td>\n      <td>166</td>\n      <td>62</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>31</td>\n      <td>382</td>\n      <td>55</td>\n      <td>122</td>\n      <td>140</td>\n      <td>56</td>\n      <td>9</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>39</td>\n      <td>382</td>\n      <td>21</td>\n      <td>115</td>\n      <td>127</td>\n      <td>99</td>\n      <td>20</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>52</td>\n      <td>378</td>\n      <td>2</td>\n      <td>48</td>\n      <td>141</td>\n      <td>130</td>\n      <td>57</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>29</td>\n      <td>377</td>\n      <td>56</td>\n      <td>145</td>\n      <td>128</td>\n      <td>43</td>\n      <td>5</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>18</td>\n      <td>376</td>\n      <td>124</td>\n      <td>180</td>\n      <td>62</td>\n      <td>8</td>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>10</td>\n      <td>376</td>\n      <td>231</td>\n      <td>122</td>\n      <td>23</td>\n      <td>0</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>44</td>\n      <td>374</td>\n      <td>13</td>\n      <td>71</td>\n      <td>160</td>\n      <td>93</td>\n      <td>37</td>\n    </tr>\n    <tr>\n      <th>10</th>\n      <td>16</td>\n      <td>373</td>\n      <td>147</td>\n      <td>160</td>\n      <td>57</td>\n      <td>9</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>11</th>\n      <td>15</td>\n      <td>372</td>\n      <td>170</td>\n      <td>137</td>\n      <td>59</td>\n      <td>6</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>12</th>\n      <td>72</td>\n      <td>369</td>\n      <td>0</td>\n      <td>0</td>\n      <td>18</td>\n      <td>114</td>\n      <td>237</td>\n    </tr>\n    <tr>\n      <th>13</th>\n      <td>26</td>\n      <td>367</td>\n      <td>75</td>\n      <td>147</td>\n      <td>113</td>\n      <td>29</td>\n      <td>3</td>\n    </tr>\n    <tr>\n      <th>14</th>\n      <td>61</td>\n      <td>367</td>\n      <td>0</td>\n      <td>26</td>\n      <td>59</td>\n      <td>165</td>\n      <td>117</td>\n    </tr>\n    <tr>\n      <th>15</th>\n      <td>13</td>\n      <td>367</td>\n      <td>170</td>\n      <td>162</td>\n      <td>30</td>\n      <td>5</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>16</th>\n      <td>5</td>\n      <td>366</td>\n      <td>305</td>\n      <td>58</td>\n      <td>3</td>\n      <td>0</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>17</th>\n      <td>38</td>\n      <td>366</td>\n      <td>22</td>\n      <td>117</td>\n      <td>139</td>\n      <td>73</td>\n      <td>15</td>\n    </tr>\n    <tr>\n      <th>18</th>\n      <td>73</td>\n      <td>365</td>\n      <td>0</td>\n      <td>2</td>\n      <td>11</td>\n      <td>102</td>\n      <td>250</td>\n    </tr>\n    <tr>\n      <th>19</th>\n      <td>33</td>\n      <td>364</td>\n      <td>55</td>\n      <td>127</td>\n      <td>125</td>\n      <td>51</td>\n      <td>6</td>\n    </tr>\n    <tr>\n      <th>20</th>\n      <td>66</td>\n      <td>363</td>\n      <td>1</td>\n      <td>3</td>\n      <td>53</td>\n      <td>159</td>\n      <td>147</td>\n    </tr>\n    <tr>\n      <th>21</th>\n      <td>37</td>\n      <td>363</td>\n      <td>38</td>\n      <td>92</td>\n      <td>138</td>\n      <td>74</td>\n      <td>21</td>\n    </tr>\n    <tr>\n      <th>22</th>\n      <td>70</td>\n      <td>362</td>\n      <td>0</td>\n      <td>2</td>\n      <td>25</td>\n      <td>127</td>\n      <td>208</td>\n    </tr>\n    <tr>\n      <th>23</th>\n      <td>9</td>\n      <td>361</td>\n      <td>238</td>\n      <td>110</td>\n      <td>12</td>\n      <td>1</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>24</th>\n      <td>56</td>\n      <td>360</td>\n      <td>2</td>\n      <td>24</td>\n      <td>97</td>\n      <td>155</td>\n      <td>82</td>\n    </tr>\n    <tr>\n      <th>25</th>\n      <td>42</td>\n      <td>360</td>\n      <td>28</td>\n      <td>86</td>\n      <td>142</td>\n      <td>86</td>\n      <td>18</td>\n    </tr>\n    <tr>\n      <th>26</th>\n      <td>40</td>\n      <td>360</td>\n      <td>26</td>\n      <td>98</td>\n      <td>139</td>\n      <td>72</td>\n      <td>25</td>\n    </tr>\n    <tr>\n      <th>27</th>\n      <td>75</td>\n      <td>359</td>\n      <td>0</td>\n      <td>0</td>\n      <td>8</td>\n      <td>77</td>\n      <td>274</td>\n    </tr>\n    <tr>\n      <th>28</th>\n      <td>79</td>\n      <td>359</td>\n      <td>0</td>\n      <td>0</td>\n      <td>0</td>\n      <td>26</td>\n      <td>333</td>\n    </tr>\n    <tr>\n      <th>29</th>\n      <td>19</td>\n      <td>357</td>\n      <td>130</td>\n      <td>156</td>\n      <td>58</td>\n      <td>13</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>30</th>\n      <td>54</td>\n      <td>357</td>\n      <td>3</td>\n      <td>20</td>\n      <td>110</td>\n      <td>159</td>\n      <td>65</td>\n    </tr>\n    <tr>\n      <th>31</th>\n      <td>45</td>\n      <td>354</td>\n      <td>16</td>\n      <td>66</td>\n      <td>123</td>\n      <td>116</td>\n      <td>33</td>\n    </tr>\n    <tr>\n      <th>32</th>\n      <td>12</td>\n      <td>353</td>\n      <td>202</td>\n      <td>128</td>\n      <td>22</td>\n      <td>1</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>33</th>\n      <td>64</td>\n      <td>351</td>\n      <td>0</td>\n      <td>4</td>\n      <td>59</td>\n      <td>170</td>\n      <td>118</td>\n    </tr>\n    <tr>\n      <th>34</th>\n      <td>14</td>\n      <td>351</td>\n      <td>163</td>\n      <td>148</td>\n      <td>32</td>\n      <td>8</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>35</th>\n      <td>80</td>\n      <td>351</td>\n      <td>0</td>\n      <td>0</td>\n      <td>0</td>\n      <td>0</td>\n      <td>351</td>\n    </tr>\n    <tr>\n      <th>36</th>\n      <td>34</td>\n      <td>350</td>\n      <td>33</td>\n      <td>114</td>\n      <td>121</td>\n      <td>72</td>\n      <td>10</td>\n    </tr>\n    <tr>\n      <th>37</th>\n      <td>71</td>\n      <td>350</td>\n      <td>0</td>\n      <td>3</td>\n      <td>21</td>\n      <td>109</td>\n      <td>217</td>\n    </tr>\n    <tr>\n      <th>38</th>\n      <td>74</td>\n      <td>350</td>\n      <td>0</td>\n      <td>0</td>\n      <td>8</td>\n      <td>82</td>\n      <td>260</td>\n    </tr>\n    <tr>\n      <th>39</th>\n      <td>55</td>\n      <td>346</td>\n      <td>0</td>\n      <td>21</td>\n      <td>93</td>\n      <td>143</td>\n      <td>89</td>\n    </tr>\n    <tr>\n      <th>40</th>\n      <td>46</td>\n      <td>346</td>\n      <td>14</td>\n      <td>70</td>\n      <td>126</td>\n      <td>112</td>\n      <td>24</td>\n    </tr>\n    <tr>\n      <th>41</th>\n      <td>2</td>\n      <td>346</td>\n      <td>334</td>\n      <td>12</td>\n      <td>0</td>\n      <td>0</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>42</th>\n      <td>6</td>\n      <td>346</td>\n      <td>274</td>\n      <td>64</td>\n      <td>7</td>\n      <td>1</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>43</th>\n      <td>59</td>\n      <td>345</td>\n      <td>1</td>\n      <td>14</td>\n      <td>86</td>\n      <td>142</td>\n      <td>102</td>\n    </tr>\n    <tr>\n      <th>44</th>\n      <td>78</td>\n      <td>345</td>\n      <td>0</td>\n      <td>0</td>\n      <td>0</td>\n      <td>26</td>\n      <td>319</td>\n    </tr>\n    <tr>\n      <th>45</th>\n      <td>41</td>\n      <td>345</td>\n      <td>22</td>\n      <td>78</td>\n      <td>142</td>\n      <td>88</td>\n      <td>15</td>\n    </tr>\n    <tr>\n      <th>46</th>\n      <td>43</td>\n      <td>345</td>\n      <td>16</td>\n      <td>75</td>\n      <td>124</td>\n      <td>105</td>\n      <td>25</td>\n    </tr>\n    <tr>\n      <th>47</th>\n      <td>8</td>\n      <td>345</td>\n      <td>239</td>\n      <td>96</td>\n      <td>9</td>\n      <td>1</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>48</th>\n      <td>76</td>\n      <td>344</td>\n      <td>0</td>\n      <td>0</td>\n      <td>4</td>\n      <td>58</td>\n      <td>282</td>\n    </tr>\n    <tr>\n      <th>49</th>\n      <td>36</td>\n      <td>343</td>\n      <td>31</td>\n      <td>108</td>\n      <td>131</td>\n      <td>62</td>\n      <td>11</td>\n    </tr>\n    <tr>\n      <th>50</th>\n      <td>28</td>\n      <td>343</td>\n      <td>62</td>\n      <td>125</td>\n      <td>113</td>\n      <td>37</td>\n      <td>6</td>\n    </tr>\n    <tr>\n      <th>51</th>\n      <td>63</td>\n      <td>343</td>\n      <td>0</td>\n      <td>5</td>\n      <td>50</td>\n      <td>150</td>\n      <td>138</td>\n    </tr>\n    <tr>\n      <th>52</th>\n      <td>27</td>\n      <td>341</td>\n      <td>64</td>\n      <td>139</td>\n      <td>104</td>\n      <td>30</td>\n      <td>4</td>\n    </tr>\n    <tr>\n      <th>53</th>\n      <td>69</td>\n      <td>340</td>\n      <td>0</td>\n      <td>5</td>\n      <td>33</td>\n      <td>122</td>\n      <td>180</td>\n    </tr>\n    <tr>\n      <th>54</th>\n      <td>11</td>\n      <td>340</td>\n      <td>189</td>\n      <td>126</td>\n      <td>23</td>\n      <td>2</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>55</th>\n      <td>7</td>\n      <td>340</td>\n      <td>243</td>\n      <td>88</td>\n      <td>9</td>\n      <td>0</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>56</th>\n      <td>77</td>\n      <td>340</td>\n      <td>0</td>\n      <td>0</td>\n      <td>0</td>\n      <td>47</td>\n      <td>293</td>\n    </tr>\n    <tr>\n      <th>57</th>\n      <td>50</td>\n      <td>338</td>\n      <td>6</td>\n      <td>56</td>\n      <td>112</td>\n      <td>119</td>\n      <td>45</td>\n    </tr>\n    <tr>\n      <th>58</th>\n      <td>62</td>\n      <td>338</td>\n      <td>0</td>\n      <td>10</td>\n      <td>67</td>\n      <td>129</td>\n      <td>132</td>\n    </tr>\n    <tr>\n      <th>59</th>\n      <td>51</td>\n      <td>335</td>\n      <td>3</td>\n      <td>41</td>\n      <td>134</td>\n      <td>114</td>\n      <td>43</td>\n    </tr>\n    <tr>\n      <th>60</th>\n      <td>1</td>\n      <td>334</td>\n      <td>334</td>\n      <td>0</td>\n      <td>0</td>\n      <td>0</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>61</th>\n      <td>60</td>\n      <td>333</td>\n      <td>1</td>\n      <td>21</td>\n      <td>76</td>\n      <td>133</td>\n      <td>102</td>\n    </tr>\n    <tr>\n      <th>62</th>\n      <td>23</td>\n      <td>333</td>\n      <td>88</td>\n      <td>144</td>\n      <td>75</td>\n      <td>26</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>63</th>\n      <td>32</td>\n      <td>332</td>\n      <td>44</td>\n      <td>124</td>\n      <td>115</td>\n      <td>37</td>\n      <td>12</td>\n    </tr>\n    <tr>\n      <th>64</th>\n      <td>21</td>\n      <td>332</td>\n      <td>89</td>\n      <td>162</td>\n      <td>71</td>\n      <td>10</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>65</th>\n      <td>67</td>\n      <td>331</td>\n      <td>0</td>\n      <td>3</td>\n      <td>34</td>\n      <td>125</td>\n      <td>169</td>\n    </tr>\n    <tr>\n      <th>66</th>\n      <td>22</td>\n      <td>331</td>\n      <td>88</td>\n      <td>141</td>\n      <td>84</td>\n      <td>17</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>67</th>\n      <td>17</td>\n      <td>327</td>\n      <td>140</td>\n      <td>129</td>\n      <td>53</td>\n      <td>4</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>68</th>\n      <td>58</td>\n      <td>326</td>\n      <td>1</td>\n      <td>13</td>\n      <td>73</td>\n      <td>155</td>\n      <td>84</td>\n    </tr>\n    <tr>\n      <th>69</th>\n      <td>65</td>\n      <td>326</td>\n      <td>0</td>\n      <td>5</td>\n      <td>55</td>\n      <td>130</td>\n      <td>136</td>\n    </tr>\n    <tr>\n      <th>70</th>\n      <td>35</td>\n      <td>325</td>\n      <td>38</td>\n      <td>113</td>\n      <td>101</td>\n      <td>64</td>\n      <td>9</td>\n    </tr>\n    <tr>\n      <th>71</th>\n      <td>24</td>\n      <td>324</td>\n      <td>72</td>\n      <td>144</td>\n      <td>83</td>\n      <td>23</td>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>72</th>\n      <td>68</td>\n      <td>324</td>\n      <td>0</td>\n      <td>5</td>\n      <td>27</td>\n      <td>128</td>\n      <td>164</td>\n    </tr>\n    <tr>\n      <th>73</th>\n      <td>20</td>\n      <td>323</td>\n      <td>107</td>\n      <td>141</td>\n      <td>64</td>\n      <td>10</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>74</th>\n      <td>57</td>\n      <td>322</td>\n      <td>3</td>\n      <td>16</td>\n      <td>80</td>\n      <td>138</td>\n      <td>85</td>\n    </tr>\n    <tr>\n      <th>75</th>\n      <td>48</td>\n      <td>321</td>\n      <td>11</td>\n      <td>44</td>\n      <td>106</td>\n      <td>119</td>\n      <td>41</td>\n    </tr>\n    <tr>\n      <th>76</th>\n      <td>25</td>\n      <td>318</td>\n      <td>69</td>\n      <td>137</td>\n      <td>82</td>\n      <td>29</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>77</th>\n      <td>30</td>\n      <td>318</td>\n      <td>44</td>\n      <td>107</td>\n      <td>120</td>\n      <td>43</td>\n      <td>4</td>\n    </tr>\n    <tr>\n      <th>78</th>\n      <td>3</td>\n      <td>308</td>\n      <td>282</td>\n      <td>25</td>\n      <td>1</td>\n      <td>0</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>79</th>\n      <td>47</td>\n      <td>305</td>\n      <td>6</td>\n      <td>43</td>\n      <td>105</td>\n      <td>109</td>\n      <td>42</td>\n    </tr>\n  </tbody>\n</table>'

In [491]:
dataNumbersCountsByTimes.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>dezena_na_primeira_posicao</th>\n      <th>vezes_como_primeira_dezena</th>\n      <th>dezena_na_segunda_posicao</th>\n      <th>vezes_como_segunda_dezena</th>\n      <th>dezena_na_terceira_posicao</th>\n      <th>vezes_como_terceira_dezena</th>\n      <th>dezena_na_quarta_posicao</th>\n      <th>vezes_como_quarta_dezena</th>\n      <th>dezena_na_quinta_posicao</th>\n      <th>vezes_como_quinta_dezena</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>4</td>\n      <td>336</td>\n      <td>18</td>\n      <td>180</td>\n      <td>44</td>\n      <td>160</td>\n      <td>64</td>\n      <td>170</td>\n      <td>80</td>\n      <td>351</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>2</td>\n      <td>334</td>\n      <td>13</td>\n      <td>162</td>\n      <td>42</td>\n      <td>142</td>\n      <td>53</td>\n      <td>166</td>\n      <td>79</td>\n      <td>333</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>1</td>\n      <td>334</td>\n      <td>21</td>\n      <td>162</td>\n      <td>41</td>\n      <td>142</td>\n      <td>61</td>\n      <td>165</td>\n      <td>78</td>\n      <td>319</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>5</td>\n      <td>305</td>\n      <td>16</td>\n      <td>160</td>\n      <td>52</td>\n      <td>141</td>\n      <td>66</td>\n      <td>159</td>\n      <td>77</td>\n      <td>293</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>3</td>\n      <td>282</td>\n      <td>19</td>\n      <td>156</td>\n      <td>49</td>\n      <td>141</td>\n      <td>54</td>\n      <td>159</td>\n      <td>76</td>\n      <td>282</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>6</td>\n      <td>274</td>\n      <td>14</td>\n      <td>148</td>\n      <td>31</td>\n      <td>140</td>\n      <td>56</td>\n      <td>155</td>\n      <td>75</td>\n      <td>274</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>7</td>\n      <td>243</td>\n      <td>26</td>\n      <td>147</td>\n      <td>40</td>\n      <td>139</td>\n      <td>58</td>\n      <td>155</td>\n      <td>74</td>\n      <td>260</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>8</td>\n      <td>239</td>\n      <td>29</td>\n      <td>145</td>\n      <td>38</td>\n      <td>139</td>\n      <td>63</td>\n      <td>150</td>\n      <td>73</td>\n      <td>250</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>9</td>\n      <td>238</td>\n      <td>23</td>\n      <td>144</td>\n      <td>37</td>\n      <td>138</td>\n      <td>49</td>\n      <td>145</td>\n      <td>72</td>\n      <td>237</td>\n    </tr>\n    <tr>\n      <th>9</th>\n      <td>10</td>\n      <td>231</td>\n      <td>24</td>\n      <td>144</td>\n      <td>51</td>\n      <td>134</td>\n      <td>55</td>\n      <td>143</td>\n      <td>71</td>\n      <td>217</td>\n    </tr>\n    <tr>\n      <th>10</th>\n      <td>12</td>\n      <td>202</td>\n      <td>20</td>\n      <td>141</td>\n      <td>36</td>\n      <td>131</td>\n      <td>59</td>\n      <td>142</td>\n      <td>70</td>\n      <td>208</td>\n    </tr>\n    <tr>\n      <th>11</th>\n      <td>11</td>\n      <td>189</td>\n      <td>22</td>\n      <td>141</td>\n      <td>29</td>\n      <td>128</td>\n      <td>57</td>\n      <td>138</td>\n      <td>69</td>\n      <td>180</td>\n    </tr>\n    <tr>\n      <th>12</th>\n      <td>13</td>\n      <td>170</td>\n      <td>27</td>\n      <td>139</td>\n      <td>39</td>\n      <td>127</td>\n      <td>60</td>\n      <td>133</td>\n      <td>67</td>\n      <td>169</td>\n    </tr>\n    <tr>\n      <th>13</th>\n      <td>15</td>\n      <td>170</td>\n      <td>15</td>\n      <td>137</td>\n      <td>46</td>\n      <td>126</td>\n      <td>65</td>\n      <td>130</td>\n      <td>68</td>\n      <td>164</td>\n    </tr>\n    <tr>\n      <th>14</th>\n      <td>14</td>\n      <td>163</td>\n      <td>25</td>\n      <td>137</td>\n      <td>33</td>\n      <td>125</td>\n      <td>52</td>\n      <td>130</td>\n      <td>66</td>\n      <td>147</td>\n    </tr>\n    <tr>\n      <th>15</th>\n      <td>16</td>\n      <td>147</td>\n      <td>17</td>\n      <td>129</td>\n      <td>43</td>\n      <td>124</td>\n      <td>62</td>\n      <td>129</td>\n      <td>63</td>\n      <td>138</td>\n    </tr>\n    <tr>\n      <th>16</th>\n      <td>17</td>\n      <td>140</td>\n      <td>12</td>\n      <td>128</td>\n      <td>45</td>\n      <td>123</td>\n      <td>68</td>\n      <td>128</td>\n      <td>65</td>\n      <td>136</td>\n    </tr>\n    <tr>\n      <th>17</th>\n      <td>19</td>\n      <td>130</td>\n      <td>33</td>\n      <td>127</td>\n      <td>34</td>\n      <td>121</td>\n      <td>70</td>\n      <td>127</td>\n      <td>62</td>\n      <td>132</td>\n    </tr>\n    <tr>\n      <th>18</th>\n      <td>18</td>\n      <td>124</td>\n      <td>11</td>\n      <td>126</td>\n      <td>30</td>\n      <td>120</td>\n      <td>67</td>\n      <td>125</td>\n      <td>64</td>\n      <td>118</td>\n    </tr>\n    <tr>\n      <th>19</th>\n      <td>20</td>\n      <td>107</td>\n      <td>28</td>\n      <td>125</td>\n      <td>32</td>\n      <td>115</td>\n      <td>69</td>\n      <td>122</td>\n      <td>61</td>\n      <td>117</td>\n    </tr>\n    <tr>\n      <th>20</th>\n      <td>21</td>\n      <td>89</td>\n      <td>32</td>\n      <td>124</td>\n      <td>28</td>\n      <td>113</td>\n      <td>50</td>\n      <td>119</td>\n      <td>59</td>\n      <td>102</td>\n    </tr>\n    <tr>\n      <th>21</th>\n      <td>23</td>\n      <td>88</td>\n      <td>10</td>\n      <td>122</td>\n      <td>26</td>\n      <td>113</td>\n      <td>48</td>\n      <td>119</td>\n      <td>60</td>\n      <td>102</td>\n    </tr>\n    <tr>\n      <th>22</th>\n      <td>22</td>\n      <td>88</td>\n      <td>31</td>\n      <td>122</td>\n      <td>50</td>\n      <td>112</td>\n      <td>45</td>\n      <td>116</td>\n      <td>55</td>\n      <td>89</td>\n    </tr>\n    <tr>\n      <th>23</th>\n      <td>26</td>\n      <td>75</td>\n      <td>38</td>\n      <td>117</td>\n      <td>54</td>\n      <td>110</td>\n      <td>72</td>\n      <td>114</td>\n      <td>57</td>\n      <td>85</td>\n    </tr>\n    <tr>\n      <th>24</th>\n      <td>24</td>\n      <td>72</td>\n      <td>39</td>\n      <td>115</td>\n      <td>53</td>\n      <td>108</td>\n      <td>51</td>\n      <td>114</td>\n      <td>58</td>\n      <td>84</td>\n    </tr>\n    <tr>\n      <th>25</th>\n      <td>25</td>\n      <td>69</td>\n      <td>34</td>\n      <td>114</td>\n      <td>48</td>\n      <td>106</td>\n      <td>46</td>\n      <td>112</td>\n      <td>56</td>\n      <td>82</td>\n    </tr>\n    <tr>\n      <th>26</th>\n      <td>27</td>\n      <td>64</td>\n      <td>35</td>\n      <td>113</td>\n      <td>47</td>\n      <td>105</td>\n      <td>71</td>\n      <td>109</td>\n      <td>54</td>\n      <td>65</td>\n    </tr>\n    <tr>\n      <th>27</th>\n      <td>28</td>\n      <td>62</td>\n      <td>9</td>\n      <td>110</td>\n      <td>27</td>\n      <td>104</td>\n      <td>47</td>\n      <td>109</td>\n      <td>53</td>\n      <td>62</td>\n    </tr>\n    <tr>\n      <th>28</th>\n      <td>29</td>\n      <td>56</td>\n      <td>36</td>\n      <td>108</td>\n      <td>35</td>\n      <td>101</td>\n      <td>43</td>\n      <td>105</td>\n      <td>52</td>\n      <td>57</td>\n    </tr>\n    <tr>\n      <th>29</th>\n      <td>33</td>\n      <td>55</td>\n      <td>30</td>\n      <td>107</td>\n      <td>56</td>\n      <td>97</td>\n      <td>73</td>\n      <td>102</td>\n      <td>50</td>\n      <td>45</td>\n    </tr>\n    <tr>\n      <th>30</th>\n      <td>31</td>\n      <td>55</td>\n      <td>40</td>\n      <td>98</td>\n      <td>55</td>\n      <td>93</td>\n      <td>39</td>\n      <td>99</td>\n      <td>49</td>\n      <td>45</td>\n    </tr>\n    <tr>\n      <th>31</th>\n      <td>32</td>\n      <td>44</td>\n      <td>8</td>\n      <td>96</td>\n      <td>59</td>\n      <td>86</td>\n      <td>44</td>\n      <td>93</td>\n      <td>51</td>\n      <td>43</td>\n    </tr>\n    <tr>\n      <th>32</th>\n      <td>30</td>\n      <td>44</td>\n      <td>37</td>\n      <td>92</td>\n      <td>22</td>\n      <td>84</td>\n      <td>41</td>\n      <td>88</td>\n      <td>47</td>\n      <td>42</td>\n    </tr>\n    <tr>\n      <th>33</th>\n      <td>35</td>\n      <td>38</td>\n      <td>7</td>\n      <td>88</td>\n      <td>24</td>\n      <td>83</td>\n      <td>42</td>\n      <td>86</td>\n      <td>48</td>\n      <td>41</td>\n    </tr>\n    <tr>\n      <th>34</th>\n      <td>37</td>\n      <td>38</td>\n      <td>42</td>\n      <td>86</td>\n      <td>25</td>\n      <td>82</td>\n      <td>74</td>\n      <td>82</td>\n      <td>44</td>\n      <td>37</td>\n    </tr>\n    <tr>\n      <th>35</th>\n      <td>34</td>\n      <td>33</td>\n      <td>41</td>\n      <td>78</td>\n      <td>57</td>\n      <td>80</td>\n      <td>75</td>\n      <td>77</td>\n      <td>45</td>\n      <td>33</td>\n    </tr>\n    <tr>\n      <th>36</th>\n      <td>36</td>\n      <td>31</td>\n      <td>43</td>\n      <td>75</td>\n      <td>60</td>\n      <td>76</td>\n      <td>37</td>\n      <td>74</td>\n      <td>40</td>\n      <td>25</td>\n    </tr>\n    <tr>\n      <th>37</th>\n      <td>42</td>\n      <td>28</td>\n      <td>44</td>\n      <td>71</td>\n      <td>23</td>\n      <td>75</td>\n      <td>38</td>\n      <td>73</td>\n      <td>43</td>\n      <td>25</td>\n    </tr>\n    <tr>\n      <th>38</th>\n      <td>40</td>\n      <td>26</td>\n      <td>46</td>\n      <td>70</td>\n      <td>58</td>\n      <td>73</td>\n      <td>40</td>\n      <td>72</td>\n      <td>46</td>\n      <td>24</td>\n    </tr>\n    <tr>\n      <th>39</th>\n      <td>41</td>\n      <td>22</td>\n      <td>45</td>\n      <td>66</td>\n      <td>21</td>\n      <td>71</td>\n      <td>34</td>\n      <td>72</td>\n      <td>37</td>\n      <td>21</td>\n    </tr>\n    <tr>\n      <th>40</th>\n      <td>38</td>\n      <td>22</td>\n      <td>6</td>\n      <td>64</td>\n      <td>62</td>\n      <td>67</td>\n      <td>35</td>\n      <td>64</td>\n      <td>39</td>\n      <td>20</td>\n    </tr>\n    <tr>\n      <th>41</th>\n      <td>39</td>\n      <td>21</td>\n      <td>5</td>\n      <td>58</td>\n      <td>20</td>\n      <td>64</td>\n      <td>36</td>\n      <td>62</td>\n      <td>42</td>\n      <td>18</td>\n    </tr>\n    <tr>\n      <th>42</th>\n      <td>45</td>\n      <td>16</td>\n      <td>50</td>\n      <td>56</td>\n      <td>18</td>\n      <td>62</td>\n      <td>76</td>\n      <td>58</td>\n      <td>38</td>\n      <td>15</td>\n    </tr>\n    <tr>\n      <th>43</th>\n      <td>43</td>\n      <td>16</td>\n      <td>4</td>\n      <td>56</td>\n      <td>64</td>\n      <td>59</td>\n      <td>31</td>\n      <td>56</td>\n      <td>41</td>\n      <td>15</td>\n    </tr>\n    <tr>\n      <th>44</th>\n      <td>46</td>\n      <td>14</td>\n      <td>49</td>\n      <td>50</td>\n      <td>61</td>\n      <td>59</td>\n      <td>33</td>\n      <td>51</td>\n      <td>32</td>\n      <td>12</td>\n    </tr>\n    <tr>\n      <th>45</th>\n      <td>44</td>\n      <td>13</td>\n      <td>52</td>\n      <td>48</td>\n      <td>15</td>\n      <td>59</td>\n      <td>77</td>\n      <td>47</td>\n      <td>36</td>\n      <td>11</td>\n    </tr>\n    <tr>\n      <th>46</th>\n      <td>48</td>\n      <td>11</td>\n      <td>48</td>\n      <td>44</td>\n      <td>19</td>\n      <td>58</td>\n      <td>30</td>\n      <td>43</td>\n      <td>34</td>\n      <td>10</td>\n    </tr>\n    <tr>\n      <th>47</th>\n      <td>53</td>\n      <td>7</td>\n      <td>47</td>\n      <td>43</td>\n      <td>16</td>\n      <td>57</td>\n      <td>29</td>\n      <td>43</td>\n      <td>31</td>\n      <td>9</td>\n    </tr>\n    <tr>\n      <th>48</th>\n      <td>47</td>\n      <td>6</td>\n      <td>51</td>\n      <td>41</td>\n      <td>65</td>\n      <td>55</td>\n      <td>32</td>\n      <td>37</td>\n      <td>35</td>\n      <td>9</td>\n    </tr>\n    <tr>\n      <th>49</th>\n      <td>50</td>\n      <td>6</td>\n      <td>53</td>\n      <td>40</td>\n      <td>17</td>\n      <td>53</td>\n      <td>28</td>\n      <td>37</td>\n      <td>28</td>\n      <td>6</td>\n    </tr>\n    <tr>\n      <th>50</th>\n      <td>49</td>\n      <td>5</td>\n      <td>61</td>\n      <td>26</td>\n      <td>66</td>\n      <td>53</td>\n      <td>27</td>\n      <td>30</td>\n      <td>33</td>\n      <td>6</td>\n    </tr>\n    <tr>\n      <th>51</th>\n      <td>51</td>\n      <td>3</td>\n      <td>3</td>\n      <td>25</td>\n      <td>63</td>\n      <td>50</td>\n      <td>26</td>\n      <td>29</td>\n      <td>29</td>\n      <td>5</td>\n    </tr>\n    <tr>\n      <th>52</th>\n      <td>57</td>\n      <td>3</td>\n      <td>56</td>\n      <td>24</td>\n      <td>67</td>\n      <td>34</td>\n      <td>25</td>\n      <td>29</td>\n      <td>30</td>\n      <td>4</td>\n    </tr>\n    <tr>\n      <th>53</th>\n      <td>54</td>\n      <td>3</td>\n      <td>60</td>\n      <td>21</td>\n      <td>69</td>\n      <td>33</td>\n      <td>23</td>\n      <td>26</td>\n      <td>27</td>\n      <td>4</td>\n    </tr>\n    <tr>\n      <th>54</th>\n      <td>52</td>\n      <td>2</td>\n      <td>55</td>\n      <td>21</td>\n      <td>14</td>\n      <td>32</td>\n      <td>79</td>\n      <td>26</td>\n      <td>26</td>\n      <td>3</td>\n    </tr>\n    <tr>\n      <th>55</th>\n      <td>56</td>\n      <td>2</td>\n      <td>54</td>\n      <td>20</td>\n      <td>13</td>\n      <td>30</td>\n      <td>78</td>\n      <td>26</td>\n      <td>24</td>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>56</th>\n      <td>58</td>\n      <td>1</td>\n      <td>57</td>\n      <td>16</td>\n      <td>68</td>\n      <td>27</td>\n      <td>24</td>\n      <td>23</td>\n      <td>18</td>\n      <td>2</td>\n    </tr>\n    <tr>\n      <th>57</th>\n      <td>59</td>\n      <td>1</td>\n      <td>59</td>\n      <td>14</td>\n      <td>70</td>\n      <td>25</td>\n      <td>22</td>\n      <td>17</td>\n      <td>17</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>58</th>\n      <td>60</td>\n      <td>1</td>\n      <td>58</td>\n      <td>13</td>\n      <td>11</td>\n      <td>23</td>\n      <td>19</td>\n      <td>13</td>\n      <td>25</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>59</th>\n      <td>66</td>\n      <td>1</td>\n      <td>2</td>\n      <td>12</td>\n      <td>10</td>\n      <td>23</td>\n      <td>20</td>\n      <td>10</td>\n      <td>20</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>60</th>\n      <td>65</td>\n      <td>0</td>\n      <td>62</td>\n      <td>10</td>\n      <td>12</td>\n      <td>22</td>\n      <td>21</td>\n      <td>10</td>\n      <td>22</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>61</th>\n      <td>73</td>\n      <td>0</td>\n      <td>68</td>\n      <td>5</td>\n      <td>71</td>\n      <td>21</td>\n      <td>16</td>\n      <td>9</td>\n      <td>10</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>62</th>\n      <td>70</td>\n      <td>0</td>\n      <td>69</td>\n      <td>5</td>\n      <td>72</td>\n      <td>18</td>\n      <td>18</td>\n      <td>8</td>\n      <td>3</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>63</th>\n      <td>68</td>\n      <td>0</td>\n      <td>65</td>\n      <td>5</td>\n      <td>9</td>\n      <td>12</td>\n      <td>14</td>\n      <td>8</td>\n      <td>2</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>64</th>\n      <td>72</td>\n      <td>0</td>\n      <td>63</td>\n      <td>5</td>\n      <td>73</td>\n      <td>11</td>\n      <td>15</td>\n      <td>6</td>\n      <td>6</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>65</th>\n      <td>61</td>\n      <td>0</td>\n      <td>64</td>\n      <td>4</td>\n      <td>7</td>\n      <td>9</td>\n      <td>13</td>\n      <td>5</td>\n      <td>12</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>66</th>\n      <td>78</td>\n      <td>0</td>\n      <td>71</td>\n      <td>3</td>\n      <td>8</td>\n      <td>9</td>\n      <td>17</td>\n      <td>4</td>\n      <td>19</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>67</th>\n      <td>67</td>\n      <td>0</td>\n      <td>67</td>\n      <td>3</td>\n      <td>75</td>\n      <td>8</td>\n      <td>11</td>\n      <td>2</td>\n      <td>8</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>68</th>\n      <td>75</td>\n      <td>0</td>\n      <td>66</td>\n      <td>3</td>\n      <td>74</td>\n      <td>8</td>\n      <td>8</td>\n      <td>1</td>\n      <td>7</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>69</th>\n      <td>62</td>\n      <td>0</td>\n      <td>70</td>\n      <td>2</td>\n      <td>6</td>\n      <td>7</td>\n      <td>6</td>\n      <td>1</td>\n      <td>11</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>70</th>\n      <td>77</td>\n      <td>0</td>\n      <td>73</td>\n      <td>2</td>\n      <td>4</td>\n      <td>5</td>\n      <td>9</td>\n      <td>1</td>\n      <td>16</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>71</th>\n      <td>64</td>\n      <td>0</td>\n      <td>72</td>\n      <td>0</td>\n      <td>76</td>\n      <td>4</td>\n      <td>12</td>\n      <td>1</td>\n      <td>21</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>72</th>\n      <td>80</td>\n      <td>0</td>\n      <td>78</td>\n      <td>0</td>\n      <td>5</td>\n      <td>3</td>\n      <td>10</td>\n      <td>0</td>\n      <td>9</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>73</th>\n      <td>69</td>\n      <td>0</td>\n      <td>75</td>\n      <td>0</td>\n      <td>3</td>\n      <td>1</td>\n      <td>1</td>\n      <td>0</td>\n      <td>23</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>74</th>\n      <td>71</td>\n      <td>0</td>\n      <td>1</td>\n      <td>0</td>\n      <td>1</td>\n      <td>0</td>\n      <td>7</td>\n      <td>0</td>\n      <td>15</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>75</th>\n      <td>63</td>\n      <td>0</td>\n      <td>77</td>\n      <td>0</td>\n      <td>77</td>\n      <td>0</td>\n      <td>5</td>\n      <td>0</td>\n      <td>1</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>76</th>\n      <td>74</td>\n      <td>0</td>\n      <td>80</td>\n      <td>0</td>\n      <td>79</td>\n      <td>0</td>\n      <td>2</td>\n      <td>0</td>\n      <td>14</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>77</th>\n      <td>55</td>\n      <td>0</td>\n      <td>74</td>\n      <td>0</td>\n      <td>78</td>\n      <td>0</td>\n      <td>80</td>\n      <td>0</td>\n      <td>13</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>78</th>\n      <td>76</td>\n      <td>0</td>\n      <td>76</td>\n      <td>0</td>\n      <td>2</td>\n      <td>0</td>\n      <td>3</td>\n      <td>0</td>\n      <td>5</td>\n      <td>0</td>\n    </tr>\n    <tr>\n      <th>79</th>\n      <td>79</td>\n      <td>0</td>\n      <td>79</td>\n      <td>0</td>\n      <td>80</td>\n      <td>0</td>\n      <td>4</td>\n      <td>0</td>\n      <td>4</td>\n      <td>0</td>\n    </tr>\n  </tbody>\n</table>'